<div class="min-h-screen grid grid-cols-1 items-center bg-contain lg:bg-auto"  style="background-image: url('assets/purple-elements.png');">
    <div class="grid grid-cols-1 md:grid-cols-2 md:gap-10 md:h-5/6 md:h-4/6 p-4 md:p-8 lg:p-20 gap-10">
        <div class="flex flex-col lg:px-20 bg-[#F9F9F9] p-4">
            <h1 class="text-primary text-4xl md:text-5xl lg:text-7xl font-bold">Frontend</h1>
            <p class="mt-5 md:mt-10">I love working with frontend and I'm passionate about being up to date with the latest libraries and frameworks. Among them Angular and React are the ones I have the most experience with.</p>
            <p class="mt-5 md:mt-10">These are some frameworks/libraries i liked the most:</p>
            <ul>
                <li class="custom-list-item">Angular</li>
                <li class="custom-list-item">React</li>
                <li class="custom-list-item">React Native</li>
                <li class="custom-list-item">SvelteKit</li>
                <li class="custom-list-item">Ionic</li>
                <li class="custom-list-item">Tailwind</li>
            </ul>
            <div class="flex flex-wrap mt-5 md:mt-10 gap-10 items-center">
                <img src="assets/angular_logo.svg" class="h-8 lg:h-16"/>
                <img src="assets/react_logo.svg" class="h-10 lg:h-16"/>
                <img src="assets/svelte_logo.svg" class="h-8 lg:h-16"/>
                <img src="assets/ionic_logo.svg" class="h-8 lg:h-16"/>
                <img src="assets/tailwind_logo.svg" class="h-8 lg:h-14"/>
            </div>
        </div>
        <div class="flex flex-col lg:px-20 bg-[#F9F9F9] p-4 justify-end">
            <h1 class="text-primary text-4xl md:text-5xl lg:text-7xl font-bold">Backend</h1>
            <p class="mt-5 md:mt-10">I've worked on many projects where I was the only developer, which required me to step into full-stack development. I managed to complete these projects successfully, and in the process, I developed strong problem-solving skills. I can honestly say I really enjoyed it.</p>
            <p class="mt-5 md:mt-10">These are some frameworks/libraries i liked the most:</p>
            <ul>
                <li class="custom-list-item">SpringBoot</li>
                <li class="custom-list-item">Laravel</li>
                <li class="custom-list-item">NestJS</li>
            </ul>
            <div class="flex flex-wrap mt-5 md:mt-10 gap-10 items-center">
                <img src="assets/springboot_logo.svg" class="h-8 lg:h-16"/>
                <img src="assets/laravel_logo.svg" class="h-8 lg:h-16"/>
                <img src="assets/nestjs_logo.svg" class="h-8 lg:h-16"/>
            </div>
        </div>
    </div>
</div>
