<app-navbar></app-navbar>
<div class="w-full section-bg h-full">
    <div class="grid grid-cols-1 md:grid-cols-[60%_40%] h-2/3 bg-secondary h-full">
        <div class="pt-20 md:pl-10 lg:pl-20 p-8 md:p-5 flex flex-col justify-center bg-no-repeat bg-center bg-contain" style="background-image: url('assets/purple-elements.png');">
            <h1 class="text-primary text-4xl md:text-5xl lg:text-7xl font-bold bg-[#ccf381]">Frontend Developer</h1>
            <h2 class="text-primary text-md md:text-xl lg:text-2xl font-bold bg-[#ccf381]">Hi all! I'll introduce myself! </h2>
            <p class="mt-6 md:mt-10 bg-[#ccf381]">
                I'm Matteo and i'm a frontend developer but i enjoy working with backend as well. <br>Working on many projects from scratch i'd like to think of myself as an aspiring fullstack developer. 
            </p>
            <p class="mt-5 md:mt-10">
                <app-button text="Projects"></app-button>
            </p>
        </div>
        <div class="color-dripping-container">
            <div class="w-full h-full">
                <div class="particle">
                    <p class="font-bold">Angular</p>
                </div>
                <div class="particle">
                    <p class="font-bold">React</p>
                </div>
                <div class="particle">
                    <p class="font-bold">Ionic</p>
                </div>
                <div class="particle">
                    <p class="font-bold">Laravel</p>
                </div>
                <div class="particle">
                    <p class="font-bold">NestJS</p>
                </div>
                <div class="particle">
                    <p class="font-bold">SpringBoot</p>
                </div>
                <div class="border-dripping rounded-t-full"></div>
                <div class="border-dripping rounded-b-full"></div>
            </div>
            <svg>
                <defs>
                    <filter id="goo">
                        <feGaussianBlur in="SourceGraphic" stdDeviation="10" />
                        <feColorMatrix in="name" mode="matrix" values="1 0 0 0 0 0 1 0 0 0 0 0 1 0 0 0 0 0 30 -15" />
                        <feBlend in="SourceGraphic" />
                    </filter>
                </defs>
            </svg>
        </div>
    </div>
</div>