<div class="flex w-full h-12 fixed top-0 left-0 p-5" id="navbar">
    <nav class="w-full min-h-10">
        <div class="flex justify-between md:justify-start items-center p-4 md:mx-5 lg:mx-12 gap-10 bg-white rounded-full md:w-7/12 lg:w-5/12 xl:w-1/3 shadow">
            <app-logo></app-logo>
            <button (click)="menuOpen = true" type="button" class="items-center p-2 w-10 h-10 justify-center text-sm text-gray-500 rounded-lg md:hidden hover:bg-gray-100 focus:outline-none focus:ring-2 focus:ring-gray-200 dark:text-gray-400 dark:hover:bg-gray-700 dark:focus:ring-gray-600">
                <span class="sr-only">Open main menu</span>
                <svg class="w-5 h-5" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none"
                    viewBox="0 0 17 14">
                    <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                        d="M1 1h15M1 7h15M1 13h15" />
                </svg>
            </button>
            <div class="hidden md:block">
                <ul class="flex gap-5">
                    <li><p class="font-bold cursor-pointer hover:text-primary" [ngClass]="activeSection == 'head' ? 'text-primary' : '' " (click)="navService.scrollTo('head')">Intro</p></li>
                    <li><p class="font-bold cursor-pointer hover:text-primary" [ngClass]="activeSection == 'skills' ? 'text-primary' : '' " (click)="navService.scrollTo('skills')">Skills</p></li>
                </ul>
            </div>
        </div>
    </nav>
</div>



<div class="fixed inset-0 bg-white z-50 p-6 flex flex-col" id="mobile-menu-window" *ngIf="menuOpen">
    <div class="flex justify-between items-center mb-6">
        <app-logo></app-logo>
        <button class="text-3xl text-gray-600" (click)="menuOpen = false">&times;</button>
    </div>

    <div class="h-full flex flex-col justify-around">
        <nav class="flex flex-col space-y-4 mb-8">
            <a (click)="scrollToMobile('head')" class="text-lg text-primary hover:underline">Intro</a>
            <a (click)="scrollToMobile('skills')" class="text-lg text-primary hover:underline">Skills</a>
            <a (click)="scrollToMobile('resumee')" class="text-lg text-primary hover:underline">Resumee</a>
            <a (click)="scrollToMobile('projects')" class="text-lg text-primary hover:underline">Projects</a>
        </nav>
    
        <div class="mb-8">
            <p class="text-gray-400 uppercase tracking-wide text-lg mb-2">Say Hello</p>
            <a href="mailto:matteodibs@gmail.com" class="block text-primary hover:underline">matteodibs&#64;gmail.com</a>
            <a href="https://t.me/matteodibs" target="_blank" class="block text-primary hover:underline">t.me/matteodibs</a>
        </div>

        <div></div>
    </div>

</div>